<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1 align="center">菜单管理系统</h1>

<div sec:authorize="!isAuthenticated()">
	<h2 align="center">游客您好，如果想查看菜单 <a th:href="@{/userlogin}">请登录</a></h2>
</div>


<div sec:authorize="isAuthenticated()">
	<h2><span sec:authentication="name"></span>，您好,您的角色有：
		<span sec:authentication="principal.authorities"></span></h2>
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="注销"/>
	</form>
</div>

<hr>

<div sec:authorize="hasRole('VIP1')">
	<h3>普通菜单</h3>
	<ul>
		<li><a th:href="@{/level1/1}">申购</a></li>
		<li><a th:href="@{/level1/2}">认购</a></li>
		<li><a th:href="@{/level1/3}">赎回</a></li>
	</ul>
</div>

<div sec:authorize="hasRole('VIP2')">
	<h3>高级菜单</h3>
	<ul>
		<li><a th:href="@{/level2/1}">资金红冲</a></li>
		<li><a th:href="@{/level2/2}">资金蓝补</a></li>
		<li><a th:href="@{/level2/3}">资金冻结</a></li>
	</ul>
</div>

<div sec:authorize="hasRole('VIP3')">
	<h3>超高级菜单</h3>
	<ul>
		<li><a th:href="@{/level3/1}">用户授权</a></li>
		<li><a th:href="@{/level3/2}">角色管理</a></li>
		<li><a th:href="@{/level3/3}">用户管理</a></li>
	</ul>
</div>


</body>
</html>